services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: vendo
      POSTGRES_DB: vendo
    ports:
      - '5432:5432'
    volumes:
      - vendo_db:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'

volumes:
  vendo_db:
